.btn{
  height: 50px;
  line-height: 50px;
  background-color: #000000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: 'BebasNeue_Regular';
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.5px;
  &--w{
    background-color: #fff;
    color: #000;
  }
  &:hover{}
  &.fw{width: 100%;}
}