//========================================
header{
  padding: 29px 0 33px 0;
  background-color: #fff;
  @media (max-width: $md2+px) {
    padding: 5px 0 5px 0;
  }
}
//========================================
.header-top {
  @include flexbox();
  justify-content: space-between;
  @media (max-width: $md2+px) {
    justify-content: flex-end;
    padding: 25px 0 0 0;
  }
  @media (max-width: $md4+px) {
    padding: 15px 0 0 0;
  }
}
.header-top-lang {
  @include flexbox();
  @media (max-width: $md2+px) {
    margin: 0 0 15px 0;
  }
}
.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "BebasNeue_Regular";
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 10px 0 0;
  &.active{
    background-color: #000000;
    color: #ffffff;
  }
}
.header-top__link {
  position: relative;
  z-index: 11;
  font-family: 'ProAkzidenzGrotesk-Bold';
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  color: #000;
  @media (max-width: $md4+px) {
    font-size: 13px;
  }
}
.header-bottom {
  margin: -10px 0 0 0;
  @include flexbox();
  align-items: center;
  @media (max-width: $md2+px) {
    margin: -37px 0 0 0;
  }
  @media (max-width: $md4+px) {
    margin: -27px 0 0 0;
  }
}
.header-bottom__column {
  flex: 0 0 33.333%;
}
.header-bottom-menu {
  &--right{
    .header-bottom-menu-list{
      margin: 0;
      @include flexbox();
      justify-content: flex-end;
      text-align: right;
      li{
        margin: 0 0 0 45px !important;
        &:first-child{
          margin: 0;
        }
        @media (max-width:$md1+px){
          margin: 0 0 0 20px !important;
        }
      }

      @media (max-width: $md2+px) {
        display: block;
        text-align: left;
        li{
          margin: 0 0 15px 0 !important;
          &:last-child{margin: 0 0 0 0;}
        }
      }
    }
  }
}
.header-bottom-menu-list {
  @include flexbox();
  //justify-content: space-between;
  li{
    margin: 0 45px 0 0;
    &:last-child{margin: 0 0 0 0;}
    @media (max-width: $md1+px) {
      margin: 0 20px 0 0;
    }
  }
  @media (max-width: $md2+px) {
    display: block;
    li{
      margin: 0 0 15px 0 !important;
      &:last-child{margin: 0 0 0 0;}
    }
  }
}
.header-bottom-menu__link {
  font-family: "ProAkzidenzGrotesk-Bold";
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header-logo {
  position: relative;
  z-index: 11;
  display: block;
  text-align: center;
  //padding: 0 20px;
}
.header-logo__text {
  display: block;
  color: #000;
  font-family: "BebasNeue_Regular";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
  @media (max-width: $md2+px) {
    font-size: 8px;
  }
  @media (max-width: $md4+px) {
    letter-spacing: 5px;
  }
}
.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
  @media (max-width: $md2+px) {
    margin: 2px 0 5px 0;
    img{width: 150px;}
  }
  @media (max-width: $md4+px) {
    margin: 0 0 2px 0;
    img{width: 100px;}
  }
}

.logo-img{
  max-width: 212px;
}
.header-bottom-menu-link {}
//========================================

.header-menu__icon{display: none;}

@media (max-width: $md2+px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      @include anim(0.3s, 0s);
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        @include scale(0);
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 50px 10px 0 10px;
    @include anim(0.3s,0s);
    &.active{
      left: 0;
    }
  }
}

@media (max-width: $md4+px) {
  .header-menu__icon{
    top: 18px;
  }
}