//<NULL STYLE>
*{padding: 0;margin: 0;bottom: 0;}
*,*:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside,section{display: block;}
html,body{
  height: 100%;
  width: 100%;
  min-width: $minWidth;
  margin: 0;
  padding: 0;
  position: relative;
  color: #000;
}
body{
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: $fontFamily;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  &.lock{
    overflow: hidden;
    @media(max-width:$md3+px){
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
  }
}
input,button,textarea{font-family: $fontFamily;}
input::-ms-clear{display: none;} /* delete cross for input element in Internet Explorer and Microsoft Edge */
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
//</NULL STYLE>