

//<MIXINS>
@mixin anim($time,$delay){
  -webkit-transition: all $time, easy $delay;
  -moz-transition: all $time, easy $delay;
  -ms-transition: all $time, easy $delay;
  -o-transition: all $time, easy $delay;
  transition: all $time, easy $delay;
}
@mixin anim_cubic($time, $delay){
  -webkit-transition: all $time, cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -moz-transition: all $time, cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -ms-transition: all $time, cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -o-transition: all $time, cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  transition: all $time, cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($num){
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}
@mixin skew($num){
  -webkit-transform: skewX($num);
  -moz-transform: skewX($num);
  -ms-transform: skewX($num);
  -o-transform: skewX($num);
  transform: skewX($num);
}
@mixin cnt($h){
  display: flex;
  flex-direction: column;
  height: $h;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}
@mixin tr($x,$y,$z){
  transform: translate3d($x,$y,$z);
}
@mixin flexbox(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@mixin flexorder($val){
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
//</MIXINS>

//=====================================================

//<FONTS>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
  font-family: 'BebasNeue_Regular';
  src: url('../fonts/BebasNeue Regular.eot');
  src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'AkzidenzGrotesk-Bold';
  src: url('../fonts/AkzidenzGrotesk-Bold.eot');
  src: local('☺'), url('../fonts/AkzidenzGrotesk-Bold.woff') format('woff'), url('../fonts/AkzidenzGrotesk-Bold.ttf') format('truetype'), url('../fonts/AkzidenzGrotesk-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'ProAkzidenzGrotesk-Bold';
  src: url('../fonts/AkzidenzGroteskPro-BoldCn.eot');
  src: local('☺'), url('../fonts/AkzidenzGroteskPro-BoldCn.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-BoldCn.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-BoldCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font default
$fontFamily:"PT Sans";
//</FONTS>

//=====================================================

//<VARIABLES>
$minWidth:320px;
$mw:880;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
//</VARIABLES>

//=====================================================

@import "null_style";

//=====================================================

//<SHELL>
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
//<SHELL>

//=====================================================

//<STAPLE MESH>
.container{
  max-width:$mw+px;
  margin:0 auto;
  width:100%;
  /*@media (max-width:$md1+px){
    max-width: 970px;
  }*/
  @media (max-width:$md1+px){
    max-width: 750px;
  }
  @media (max-width:$md2+px){
    max-width: none;
    padding: 0 10px;
  }
}
//</STAPLE MESH>

//=====================================================

//<ПІДКЛЮЧЕННЯ ФАЙЛІВ СТИЛІВ СТОРІНОК І ЕЛЕМЕНТІВ>
/*@import "datepicker.scss";*/
/*@import "popover.min.scss";*/
/*@import "baguetteBox.scss";*/
/*@import "padding.scss";*/
@import "header.scss";
@import "footer.scss";
//</ПІДКЛЮЧЕННЯ ФАЙЛІВ UI СТИЛІВ СТОРІНОК І ЕЛЕМЕНТІВ>

//=====================================================

//<STAPLE BLOCK>
.content {}
.private {
  @include flexbox();
  background-color: #000000;
  margin: 0 0 75px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 40px 0;
  }
}
.private__column {
  flex: 0 0 50%;
  @media (max-width: $md2+px) {
    flex: 0 0 100%;
    &:first-child{
      display: none;
    }
  }
}
.private__image {
  height: 100%;
  //background: url('../img/block_1/1.jpg') 50%/cover no-repeat;
}
.ibg{
  > img{
    display: none;
  }
}
.private-body {
  padding: 75px 0 75px 60px;
  @media (min-width: 1441px) {
    padding: 155px 125px 155px 110px;
  }
  @media (min-width: 1901px) {
    padding: 205px 205px 205px 190px;
  }
  @media (max-width: $md1+px) {
    padding: 30px 0 30px 30px;
  }
}
.private-body-content{
  max-width: 305px;
}
.private-body__title {
  font-family: 'ProAkzidenzGrotesk-Bold';
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px 0;
  @media (max-width: $md1+px) {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
}
.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin: 0 0 50px 0;
  @media (max-width: $md1+px) {
    margin: 0 0 30px 0;
  }
}
.private-body-buttons {
  @include flexbox();
  align-items: center;
}
.private-body-buttons__item {}
.btn {}
.btn--w {}
.private-body-buttons__link {
  font-family: 'BebasNeue_Regular';
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0 0 0 15px;
  letter-spacing: 1.5px;
}

//-----------------------------------------------------

.products {
  margin: 0 0 40px 0;
  @media (max-width: $md2+px) {
    margin: 0;
  }
}
.products-body {
  @include flexbox();
  @media (max-width: $md2+px) {
    flex-wrap: wrap;
  }
}
.products__column {
  flex: 0 0 25%;
  margin: 0 0 40px 0;
  @media (max-width: $md2+px) {
    flex: 0 0 50%;
  }
  @media (max-width: 380px) {
    flex: 1 1 100%;
  }
}
.products-item {
  @include flexbox();
  flex-direction: column;
  height: 100%;
  > p{
    //text-align: center;
  }
}
.products-item__image {
  display: block;
  padding: 0 0 100% 0;
  margin: 0 0 25px 0;
}
.products-item__title {
  height: 50px;
  overflow: hidden;
  padding: 0 10px 0 0;
  max-width: 185px;
  display: block;
  font-family: 'ProAkzidenzGrotesk-Bold';
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
  margin: 0 0 30px 0;
  @media (max-width: 380px) {
    max-width: none;
    height: auto;
    overflow: visible;
    margin: 0 0 20px 0;
  }
  //text-align: center;
}
.products-item__text {
  flex: 1 1 auto;
  padding: 0 10px 0 0;
  max-width: 185px;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 25px 0;
  text-align: justify;
  @media (max-width: 380px) {
    max-width: none;
    margin: 0 0 15px 0;
  }
}
.products-item__btn {margin: 0 0 29px 0;}
.products-item__link {
  font-family: 'BebasNeue_Regular';
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-decoration: underline;
}

//-----------------------------------------------------

.why {}
.why-top {
  @include flexbox();
  background-color: #000000;
  flex-wrap: wrap;
}
.why-top__column {
  flex: 0 0 50%;
  @media (max-width: $md1+px) {
    flex: 1 1 100%;
  }
}
.why-top__text {
  color: #ffffff;
  text-align: right;
  font-family: 'ProAkzidenzGrotesk-Bold';
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 100px 60px 100px 0;
  @media (max-width: $md1+px) {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
  }
  @media (max-width: $md2+px) {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
  }
}
.why-top__image {
  height: 100%;
  @media (max-width: $md1+px) {
    padding: 35% 0 0 0;
  }
}
.why-body {
  padding: 50px 0 0 0;
  background-color: #ebebeb;
  @media (max-width: $md4+px) {
    padding: 30px 0 0 0;
  }
}
.why-body-row {
  @include flexbox();
  flex-wrap: wrap;
}
.why-body__column {
  flex: 0 0 50%;
  margin: 0 0 50px 0;
  @media (max-width: $md1+px) {
    flex: 1 1 100%;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 30px 0;
  }
}
.why-body-item {
@include flexbox();
}
.why-body-item-icon {
flex: 0 0 100px;
height: 100px;
@include flexbox();
justify-content: center;
align-items: center;
background-color: #000000;
@media (max-width: $md4+px) {
  flex: 0 0 80px;
  height: 80px;
  img{
    max-width: 100%;
  }
}
}
.why-body-item-body {
flex: 1 1 100%;
@include flexbox();
flex-direction: column;
padding: 0 0 0 11px;
}
.why-body-item-body__title {
flex: 1 1 auto;
font-family: 'ProAkzidenzGrotesk-Bold';
text-transform: uppercase;
letter-spacing: 2.5px;
font-size: 25px;
@media (max-width: $md4+px) {
  font-size: 20px;
}
}
.why-body-item-body__text {
font-size: 15px;
padding: 0 15px 0 0;
line-height: 25px;
}

//-----------------------------------------------------

.contacts {padding: 80px 0 0 0;}
.contacts-top {}
.contacts__title {
  font-family: 'ProAkzidenzGrotesk-Bold';
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0 0 30px 0;
}
.contacts-body {
  @include flexbox();
  flex-wrap: wrap;
}
.contacts-body__column {
  flex: 0 0 50%;
  margin: 0 0 20px 0;
}
.contacts-body__item {
  font-size: 15px;
  color: #000;
  display: inline-block;
  line-height: 27px;
  padding: 0 0 0 35px;
}
.contacts-body__item--1 {
  background: url('../img/contacts/01.svg') left no-repeat;
}
.contacts-body__item--2 {
  background: url('../img/contacts/02.svg') left no-repeat;
}
.contacts-body__item--3 {
  background: url('../img/contacts/03.svg') left no-repeat;
}
.contacts-social {
  @include flexbox();
}
.contacts-social__item {
  margin: 0 30px 0 0;
  &:last-child{margin: 0 0 0 0;}
  padding: 0 0 0 35px;
  line-height: 27px;
  //height: 35px;
}
.contacts-social__item--1 {
  background: url('../img/icons/socials/01.svg') left no-repeat;
}
.contacts-social__item--2 {
  background: url('../img/icons/socials/02.svg') left no-repeat;
}
.contacts-social__item--3 {
  background: url('../img/icons/socials/03.svg') left no-repeat;
}
.contacts-social__item--4 {
  background: url('../img/icons/socials/04.svg') left no-repeat;
}
.contacts-content {}
.contacts-content__column {}
.contacts-content__map {}
.contacts-content-form__title {}
.contacts-content-form-body {}
.contacts-content-form-line {}
.input {}
.contacts-content-form__btn {}
.btn {}
.btn--w {}

//</STAPLE BLOCK>

//=====================================================

//<ПІДКЛЮЧЕННЯ ФАЙЛІВ UI СТИЛІВ, ФОРМ І ГОТОВИХ КЛАССІВ>
@import "forms.scss";
@import "ui.scss";
//</ПІДКЛЮЧЕННЯ ФАЙЛІВ UI СТИЛІВ, ФОРМ І ГОТОВИХ КЛАССІВ>