<header>
    <div class="container">
        <div class="header-top">
            <div class="header-top-lang">
                <a href="" class="header-top-lang__item active">EN</a>
                <a href="" class="header-top-lang__item">DE</a>
                <a href="" class="header-top-lang__item">UA</a>
            </div>
            <a href="" class="header-top__link">my audi</a>
        </div>
        <div class="header-bottom">
            <div class="header-bottom__column">
                <nav class="header-bottom-menu">
                    <ul class="header-bottom-menu-list">
                        <li><a href="" class="header-bottom-menu__link">ABOUT</a></li>
                        <li><a href="" class="header-bottom-menu__link">Menu</a></li>
                        <li><a href="" class="header-bottom-menu__link">Service Info</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom__column">
                <a href="" class="header-logo">
                    <span class="header-logo__text">Lorem</span>
                    <span class="header-logo__image"><img class="logo-img" src="img/icons/audi1.png" alt=""></span>
                    <span class="header-logo__text">Lorem</span>
                </a>
            </div>
            <div class="header-bottom__column">
                <nav class="header-bottom-menu header-bottom-menu--right">
                    <ul class="header-bottom-menu-list">
                        <li><a href="" class="header-bottom-menu__link">Gallery</a></li>
                        <li><a href="" class="header-bottom-menu__link">Friends</a></li>
                        <li><a href="" class="header-bottom-menu__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-menu__icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-menu"></div>
    </div>
</header>